@model project5_voting.Models.USER

@{
    ViewBag.Title = "VotersDetails";
}

<h2>VotersDetails</h2>

<div>
    <h4>USER</h4>
    <hr />
    <div>
        @using (Html.BeginForm("Search", "Home"))
        {
            <input type="text" class="form-control" name="Search">
            <input type="submit" value="Send" class="btn btn-primary"  />
        }

        @if (ViewBag.Error == false)
            {
            <p class="alert alert-danger">
                يرجى التأكد من صحة الرقم الوطني الخاص بك.
            </p>
            }
    </div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NationalID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NationalID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.birth_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.birth_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.religion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.religion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.governorate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.governorate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.election_area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.election_area)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.election_location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.election_location)
        </dd>
    </dl>
</div>

