@model project5_voting.Models.Contact

@{
    ViewBag.Title = "ShowResponse";
}

<h2>ShowResponse</h2>


<main>
    <div class="row">
        <div class="col">
            <label>User Name</label>
            @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </div>
        <div class="col">
            <label>User Email</label>
            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label>Date of Response</label>
            @Html.EditorFor(model => model.responseDate, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </div>
        <div class="col">
            <label>Time of Response</label>
            @Html.EditorFor(model => model.responseTime, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label>The Admin Who Response </label>
            @Html.EditorFor(model => model.adminName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </div>

    </div>

    <div class="row">
        <div class="col">
            <label>Subject</label>
            @Html.EditorFor(model => model.subject, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </div>
    </div>

    <div class="row">
        <label>Response Messege</label>
        @Html.TextAreaFor(model => model.responseMessage, new { @class = "form-control", @id = "floatingTextarea", @style = "height: 100px;", @readonly = "readonly" })
    </div>
    <br />
    <div>
        @Html.ActionLink("Back", "ContactDetails", new { id = Model.id }, new { @class = "btn btn-secondary" })
    </div>
</main>

